

.carroussel-container  {

    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    
    
}

.mySlides {
    height: 100%;
   display: block; 

}
 
    /* Caption text */
.imgSlide {
    
    height: 280em;
    
}
    /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
    
    /* The dots/bullets/indicators */

.dot-container {

    margin-left: 55em;
}    
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(114, 114, 114);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
    
.active, .dot:hover {
    background-color: #717171;
 }
    

.sales-banner {
    height: 100%;
    width: 100%;
}