.stepsLine {
    margin-top: 20px;
    background-color: #0e0622;
    border:2px #0e0622;
    border-radius: 20px;
    background-color: azure;

}

.stepsTitle {

    margin-top: 2em;
    margin-left: 1em;
}


.img1 {
    margin-top: 140px;
    margin-left: 15em;
    background-color: #000000;
    position: absolute;
    z-index: 0;
}

.img1:hover{
    filter: blur(8px);
    transition: .5s ease;
    /* background: #000000; */
    opacity: 1;
}

.content1 {
    z-index: 3;
    position: absolute;
    margin-top: -2px;
    margin-left: -1px;
    width: 642px;
    height: 68px;
    background: rgba(187, 187, 187, 0.9);
    border-top: 1px solid #f8fc2e;
}

.pstep1 {
    z-index:1;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    color: #030303;
    background-color: #000000;
}

.medalha1 {
    height: 65px;
    float: right;
    margin-left: 400px;
    position: relative;
    margin-top: -62px;

}

.img2 {

   margin-top: 142px;
   margin-left: 61em;
   position: absolute;
}

.content2{
    z-index: 3;
    position: absolute;
    margin-top: -1px;
    margin-left: -1px;
    width: 641px;
    height: 68px;
    background: rgba(187, 187, 187, 0.9);
    border-top: 1px solid #f8fc2e;
}


.img2:hover {

    /* color: black; */
    transition: ease;
    filter: blur(8px);
    /* background-color: #000000; */
}

.p1step2 {
    text-align: center;
    margin-top: 20px;
    margin-left: -420px;
    font-size: 18px;
    color: #000000
}

.medalha2 {

  height: 65px;
  float: right;
  margin-left: -290px;
  position: relative;
  margin-top: -69px;

}

.img3 {
    position: relative;
    margin-top: 639px;
    margin-left: 15em;
    width: 640;
    height: 380;
}

.img3:hover {

    color: black;
    transition: ease;
    filter: blur(8px);
}

.content3 {
    z-index: 3;
    position: absolute;
    margin-top: -1px;
    margin-left: -1px;
    width: 641px;
    height: 68px;
    background: rgba(187, 187, 187, 0.9);
    border-top: 1px solid #f8fc2e;
}
.p1step3 {


    margin-top: 20px;
    margin-left: 30px;
    font-size: 18px;
    color: #0e0622;
}

.medalha3 {

    height: 65px;
    float: right;
    position: relative;
    margin-top: -58px;

}

.img4 {

  position: relative;
  margin-top: -420px;
  margin-left: 61em;
  width: 640;
  height: 380;
  
}

.img4:hover {

    color: black;
    transition: ease;
    filter: blur(8px);
}

.content4 {
    z-index: 3;
    position: absolute;
    margin-top: -10px;
    margin-left: -1px;
    width: 641px;
    height: 68px;
    background: rgba(187, 187, 187, 0.9);
    border-top: 1px solid #f8fc2e;
}

.p1step4 {

    text-align: center;
    margin-top: 20px;
    margin-left: -120px;
    font-size: 18px;
    color: #0e0622;
}

.medalha4 {

    height: 65px;
    margin-left: 440px;
    position: absolute;
    margin-top: -63px;

}