<div class="step-holder">
    <a class="stepLink" href="#cadastro">
        <!--<img class="step" src="./Projeto Estagio II - Lotes/imagens/step1.jpg" alt="Primeiro Passo">-->
         <img class="step" src="inputProps1" alt="Primeiro Passo">
        <div class="content">
            <p class="p1step"> Cadastre-se e torne-se um de nossos colaboradores!</p>
            <!--<img class="medalha1" src="./Projeto Estagio II - Lotes/imagens/medalha1.png">-->
            <img class="medalha1" src="inputProps2">
        </div> 
    </a>
</div>